/.idea/
/.DS_Store
/Thumbs.db
/target/

**/*.rs.bk

/src-tauri/target/
/src-tauri/gen/

/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
/frontend/npm-debug.log
/frontend/yarn-error.log

.env
.env.*
